@model Chat
@{ViewData["Title"]="Chating App";}


<div class="container-fluid">
    <div class="d-flex flex-column justify-content-end message-container">
        <div class="chat-container">
            <h1>@Model.RoomName</h1>@* @Model.RoomName *@
            @foreach(var message in Model.Messages){
            <div class="message-box d-flex flex-column justify-content-end">
                   
                    <div class="othermessages d-flex flex-row justify-content-start">
                        <div class="othermessage">
                            <div class="messageheader text-start">
                                @message.Name
                            </div>
                            <div class="message-content ">
                                @message.Text
                            </div>
                            <div class="message-footer text-end">
                                @message.TimeStamp
                            </div>
                        </div>
                    </div>
            </div>
            }
            @* <a href="https://prod.liveshare.vsengsaas.visualstudio.com/join?2289600488C775E3DB930FDF923B14AA126C">link for</a> *@
        </div>
    <div class="input-message-group">
        
        <form onsubmit="sendMessage(event)" asp-controller="Home" asp-action="SendMessage" method="POST">
            <div class="d-flex flex-row justify-content-start">
                <input type="hidden" name="chatId" value="@Model.Id">
                <input type="hidden" name="roomName" value="@Model.RoomName">
                <input class="form-control" id="ChatMessage" type="text" name="message" id="">
                <input type="submit" class="btnsubmit" value="Send" class="btn btn-info">
            </div>
        </form>
        
    </div>
    </div>
</div>


@* my message sample
 <div class="mymessages d-flex flex-row justify-content-end">
                        <div class="mymessage">
                            <div class="messageheader text-start">
                                you
                            </div>
                            <div class="message-content ">
                                hello yourname @i
                            </div>
                            <div class="message-footer text-end">
                            12:00
                            </div>
                        </div>
                    </div>


 *@
@section scripts{
    @* signalrjs file from @aspnetcore/signalr (installed using npm and moved to wwwroot) *@
    <script src="~/js/signalr.js"></script>
    @* axios js *@
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script>
        console.log("hello");
        @* Creating a connection using Connection Builder (BuilderDesignPattern Technique from software development) *@
        let connection  = new signalR.HubConnectionBuilder()
                                     .withUrl("/chatHub")
                                     .build();



        @* here we call the method that is declared in ChatRoom file *@
        connection.on('recieveMethodFromServer',function(message){
            let data = JSON.stringify(message);
            console.log("Data:"+data);
            var header = document.createElement("div");
            header.classList.add('messageheader text-start');
            var messageContent = document.createElement("div");
            messageContent.classList.add('message-content');
            var footer = document.createElement("div");
            footer.classList.add('message-footer');
        });
        @* declaring a global variables for connectionId *@
        let _connectionId ='';

        @* Starting the Connection //Connection.Start() is a Promise*@
        connection.start().then(function(){
            
                connection.invoke("getConnectionId").then(function(connectionId){
                    _connectionId = connectionId;
                }
            )}
        ).catch(function(err){
            console.log(err)
        });
        
    @* SendMessage *@
    let form = null;
    let sendMessage = function(event){
        @* it will prevent from submiting the form to Account Controller *@
        event.preventDefault();
        form = event.target;
        var data = new FormData(form);
        axios.post('/Chat/SendMessage',data)
             .then(res=>{
                 document.getElementById("ChatMessage").value="";
                 console.log("MessageSent");
             })
             .catch(err=>{
                 console.log("FailedToSend");
             });
    };
    @* JoinRoom Method *@
        let joinRoom = function(){
            var url ='/Chat/JoinRoom/'+_connectionId+'/@Model.RoomName';
            @* Axios is an API which is used to send Requests using Promises*@
            axios.post(url,null).then(res=>{
                console.log("Room Joined",res);
            }).catch(err=>{
                console.log("error:"+err);
            })
        };   
        @* joinRoom(); *@
    </script>
}