@model Chat
@{ViewData["Title"]="Chating App";}


<div class="container-fluid">
    <div class="d-flex flex-column justify-content-end message-container">
        <div class="chat-container">
            <h1>@Model.RoomName</h1>@* @Model.RoomName *@
            @foreach(var message in Model.Messages){
            <div class="message-box d-flex flex-column justify-content-end">
                   
                    <div class="othermessages d-flex flex-row justify-content-start">
                        <div class="othermessage">
                            <div class="messageheader text-start">
                                @message.Name
                            </div>
                            <div class="message-content ">
                                @message.Text
                            </div>
                            <div class="message-footer text-end">
                                @message.TimeStamp
                            </div>
                        </div>
                    </div>
            </div>
            }
            @* <a href="https://prod.liveshare.vsengsaas.visualstudio.com/join?2289600488C775E3DB930FDF923B14AA126C">link for</a> *@
        </div>
    <div class="input-message-group">
        
        <form asp-controller="Home" asp-action="SendMessage" method="POST">
            <div class="d-flex flex-row justify-content-start">
                <input type="hidden" name="ChatId" value="@Model.Id">
                <input class="form-control" type="text" name="ChatMessage" id="">
                <input type="submit" class="btnsubmit" value="Send" class="btn btn-info">
            </div>
        </form>
        
    </div>
    </div>
</div>


@* my message sample
 <div class="mymessages d-flex flex-row justify-content-end">
                        <div class="mymessage">
                            <div class="messageheader text-start">
                                you
                            </div>
                            <div class="message-content ">
                                hello yourname @i
                            </div>
                            <div class="message-footer text-end">
                            12:00
                            </div>
                        </div>
                    </div>


 *@
